# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\andre\OneDrive\Desktop\Trabajos Eafit\Universidad semestre 5\Proyecto integrador\Taller 1\moviereviewsproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
